<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/shared.css" rel="stylesheet" />
    <link href="/styles/map.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bdddb9b7ac.js"
      crossorigin="anonymous"
    ></script>
    <script src="/sidedrawer.js" defer></script>
    <title>GPS Tracker</title>
  </head>
  <body>
    <header id="header-main">
      <h1 class="nav-element"><a href="/">Trackman</a></h1>
      <div id="burger-icon">
        <i class="fa-solid fa-bars nav-element" style="color: #b3cde0"></i>
      </div>
      <nav id="nav-bar">
        <ul id="nav-btns" class="nav-element">
          <li><a href="/add">Add</a></li>
          <li><a href="/update">Update</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
    <aside id="side-drawer">
      <ul id="side-drawer-nav">
        <li><a href="/add">Add</a></li>
        <li><a href="/update">Update</a></li>
        <li><a href="/logoout">Sign Out</a></li>
      </ul>
    </aside>
    <div id="map-container">
      <div id="map"></div>
      <div id="vehicle-container" data="<%= JSON.stringify(vehicle) %>">
        <% for (vehicle of vehicle) { %>
        <div class="vehicle-card" id="<%= vehicle.id %>">
          <h3 class="vehicle-index"><%=vehicle.vrm%></h3>
          <p class="color"><%=vehicle.color%></p>
          <p class="make-model"><%=vehicle.make%> , <%= vehicle.model %></p>
        </div>
        <% } %>
      </div>
    </div>

    <script src="/map.js" defer></script>
  </body>
</html>
